<%= form_for @user, :html=> {:class=>"form-horizontal"} do |f| %>
    <%= f.error_messages %>
    <ul class="unstyled">
      <li class="control-group">
        <%= f.label :title_gender, 'Title', :class=>"control-label" %>
        <div class="controls"><%= f.select(:title_gender, ["Mr", 'Ms'], {:prompt => 'Select Gender'})%></div>
      </li>
      <li class="control-group">
        <%= f.label :first_name, 'Last Name', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :first_name %></div>
      </li>
      <li class="control-group">
        <%= f.label :last_name, 'Last Name', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :last_name %></div>
      </li>
      <li class="control-group">
        <%= f.label :email, 'Email', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :email %></div>
      </li>
      <li class="control-group">
        <%= f.label :user_type, 'User Type', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :user_type %></div>
      </li>
      <li class="control-group">
        <%= f.label :job_title, 'Job Title', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :job_title %></div>
      </li>
      <li class="control-group">
        <%= f.label :assigned_to, 'Assigned to', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :assigned_to %></div>
      </li>
      <li class="control-group">
        <%= f.label :block, 'Active', :class=>"control-label" %>
        <div class="controls">
          <%= f.radio_button(:block, "1") %>  Yes
          <%= f.radio_button(:block, "0") %>  No
        </div>
      </li>
      <li class="control-group">
        <%= f.label :telephone, 'Telephone', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :telephone %></div>
      </li>
      <li class="control-group">
        <%= f.label :mobile_phone, 'Mobile', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :mobile_phone %></div>
      </li>
      <li class="control-group">
        <%= f.label :date_of_birth, 'Date of Birth', :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :date_of_birth, :id => "user_date_of_birth", :value => params[:action] == "edit" ? @user.date_of_birth.to_s(:dmy) : "" %>
        </div>
      </li>
      <li class="control-group">
        <%= f.label :wedding_date, 'Wedding Date', :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :wedding_date, :id => "user_wedding_date", :value => params[:action] == "edit" ? @user.wedding_date.to_s(:dmy) : "" %>
        </div>
      </li>
      <li class="form-actions">
        <%= f.submit :class=>"btn btn-large btn-primary" %>
      </li>
    </ul>
<% end %>