<%= form_for @user, :html=> {:class=>"form-horizontal"} do |f| %>
    <%= f.error_messages %>
    <ul class="unstyled clearfix threeColFields">
      <li class="control-group">
        <%= f.label :title_gender, 'Title', :class=>"control-label" %>
        <div class="controls"><%= f.select(:title_gender, ["Mr", 'Ms'], {:prompt => 'Select Gender'})%></div>
      </li>
      <li class="control-group">
        <%= f.label :first_name, 'First Name', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :first_name %></div>
      </li>
      <li class="control-group">
        <%= f.label :last_name, 'Last Name', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :last_name %></div>
      </li>

      <li class="clearfix"></li>

      <li class="control-group">
        <%= f.label :email, 'Email', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :email %></div>
      </li>
      <li class="control-group">
        <%= f.label :user_type, 'User Type', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :user_type %></div>
      </li>
      <li class="control-group">
        <%= f.label :job_title, 'Job Title', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :job_title %></div>
      </li>

      <li class="clearfix"></li>

      <li class="control-group">
        <%= f.label :assigned_to, 'Assigned to', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :assigned_to %></div>
      </li>
      <li class="control-group">
        <%= f.label :block, 'Active', :class=>"control-label" %>
        <div class="controls">
          <%= f.radio_button(:block, "1") %>  Yes
          <%= f.radio_button(:block, "0") %>  No
        </div>
      </li>
      <li class="control-group">
        <%= f.label :telephone, 'Telephone', :class=>"control-label" %>
        <div class="controls"><%= f.text_field :telephone %></div>
      </li>

      <li class="clearfix"></li>

      <li class="control-group">
      <%= f.label :mobile_phone, 'Mobile', :class=>"control-label" %>
      <div class="controls"><%= f.text_field :mobile_phone %></div>
      </li>
      <li class="control-group">
      <%= f.label :date_of_birth, 'Date of Birth', :class=>"control-label" %>
      <div class="controls"><%= f.text_field :date_of_birth, :value => @user.date_of_birth %></div>
      </li>
      <li class="control-group">
      <%= f.label :wedding_date, 'Wedding Date', :class=>"control-label" %>
      <div class="controls"><%= f.text_field :wedding_date, :value => @user.wedding_date %></div>
      </li>

      <li class="clearfix"></li>

      <li class="cf">
        <%= f.label :qualification, 'Qualification', :class=>"control-label" %>
        <div class="controls">
          <ul class="unstyled qualificationWrap">
            <% @qualifications.each do |qualification| %>
                <li>
                  <%= check_box_tag "user[qualification_ids][]", qualification.id, @user.qualifications.include?(qualification) %>
                  <%= qualification.name %>
                </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
    <div class="form-actions">
      <%= link_to "Cancel", @user, :class => "btn btn-large" %>
      <%= f.submit :class=>"btn btn-large btn-primary" %>
    </div>
<% end %>