<% title "Edit - #{@user.first_name}" %>
<div class="page-header">
  <div class="pull-right">
    <%= link_to "Show", @user, :class => "btn" %>
    <%= link_to "View All", users_path, :class => "btn" %>
  </div>
  <%= page_title(yield(:title)) %>
</div>

<%= render 'form' %>

<%= debug(@user) %>