<% title "User's Detail" %>
<div class="page-header">
  <%= page_title(yield(:title)) %>
</div>

<div class="form-horizontal">
  <ul class="unstyled">
    <li><label>Name :</label><%= @user.first_name %> <%= @user.last_name %></li>
    <li><label>Email:</label> <%= @user.email %></li>
    <li><label>user Type:</label> <%= @user.user_type %></li>
    <li><label>Qualification:</label> <%= @qualifications %></li>
    <li><label>Job Title:</label> <%= @user.job_title %></li>
    <li><label>Assigned to:</label> <%= @user.assigned_to %></li>
    <li><label>Telephone:</label> <%= @user.telephone %></li>
    <li><label>Mobile:</label> <%= @user.mobile_phone %></li>
    <li><label>Date of Birth:</label> <%= @user.date_of_birth %></li>
    <li><label>Wedding Date:</label> <%= @user.wedding_date %></li>
  </ul>
</div>

<div class="form-actions">
  <%= link_to "Add New user", new_user_path, :class => "btn btn-primary pull-right" %>
  <%= link_to "Edit", edit_user_path(@user), :class => 'btn' %>
  <%= link_to "Destroy", @user, :class => 'btn', :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "View All", users_path, :class => 'btn' %>
</div>