<% title "List of Location" %>
<%= link_to "Add New Location", new_state_path, :class => "btnA blueBtn float_r mt-50" %>
<table class="table">
  <thead>
  <tr>
    <th width="85%">State Name</th>
    <th width="4%">&nbsp;</th>
    <th width="3%">&nbsp;</th>
    <th width="5%">&nbsp;</th>
  </tr>
  </thead>
  <% @states.each do |state| %>
      <tr class="<%= cycle('row0', 'row1') %> dotted_border">
        <td><%= state.name %></td>
        <td><%= link_to "Show", state, :class => 'btn' %></td>
        <td><%= link_to "Edit", edit_state_path(state), :class => 'btn' %></td>
        <td><%= link_to "Destroy", state, :class => 'btn', :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

