<% title "List of Location" %>

<div class="page-header">
  <%= link_to "Add New Location", new_state_path, :class => "btn btn-primary pull-right" %>
  <%= page_title(yield(:title)) %>
</div>

<% if @states.empty? %>
    <div class="alert alert-info">
      Currently the State list is empty, create one by clicking "Add new State" button.
    </div>
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="80%">State Name</th>
        <th width="20%">&nbsp;</th>
      </tr>
      </thead>
      <% @states.each do |state| %>
          <tr class="<%= cycle('row0', 'row1') %> dotted_border">
            <td>
              <%= state.name %>
              <% state.cities.each do |city| %>
                  <div>
                    <span class="gi">|&mdash;</span>
                    <%= city.name %>
                  </div>
                  <% city.areas.each do |area| %>
                      <div>
                        <span class="gi">|&mdash;</span> <span class="gi">|&mdash;</span>
                        <%= area.name %>
                      </div>
                  <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to "Show", state, :class => 'btn' %>
              <%= link_to "Edit", edit_state_path(state), :class => 'btn' %>
              <%= link_to "Destroy", state, :class => 'btn', :confirm => 'Are you sure?', :method => :delete %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>
