<% title "Location :: #{@state.name}" %>

<div class="well"><h2><strong>State Name:</strong> <%= @state.name %></h2></div>
<fieldset class="showStateView"><legend>Cities</legend>
<ol>
  <% @state.cities.each do |city| %>
      <li class="cityName"><%= city.name %></li>
      <ul class="unstyled">
        <li>
          <fieldset>
            <legend>Areas</legend>
            <ul>
              <% city.areas.each do |area| %>
                  <li><%= area.name %></li>
              <% end %>
            </ul>
          </fieldset>
        </li>
      </ul>
  <% end %>
</ol>
</fieldset>
<div class="form-actions">
  <%= link_to "Edit", edit_state_path(@stare), :class => 'btn' %>
  <%= link_to "Destroy", @stare, :class => 'btn', :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "View All", states_path, :class => 'btn' %>
</div>