<% title "State - #{@state.name}" %>
<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit", edit_state_path(@stare), :class => 'btn' %>
    <%= link_to "Destroy", @stare, :class => 'btn', :confirm => 'Are you sure?', :method => :delete %>
    <%= link_to "View All", states_path, :class => 'btn' %>
  </div>
  <%= page_title(yield(:title)) %>
</div>
<fieldset class="showStateView"><legend>Cities</legend>
<ol>
  <% @state.cities.each do |city| %>
      <li class="cityName"><%= city.name %></li>
      <ul class="unstyled">
        <li>
          <fieldset>
            <legend>Areas</legend>
            <ul>
              <% city.areas.each do |area| %>
                  <li><%= area.name %></li>
              <% end %>
            </ul>
          </fieldset>
        </li>
      </ul>
  <% end %>
</ol>
</fieldset>