<% title "Location :: #{@state.name}" %>
<p>
  <strong>State Name:</strong>
  <%= @state.name %>
</p>

<ol>
  <% @state.cities.each do |city| %>
      <li>City Name: <%= city.name %></li>
      <ul class="unstyled">
        <% city.areas.each do |area| %>
            <li>Area Name: <%= area.name %></li>
        <% end %>
      </ul>
  <% end %>
</ol>

<div class="form-actions">
  <%= link_to "Edit", edit_state_path(@stare), :class => 'btn' %>
  <%= link_to "Destroy", @stare, :class => 'btn', :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "View All", states_path, :class => 'btn' %>
</div>